body {
    background-color: beige;
}

h1 {
    color: blue;
}

table {
    background-color: aquamarine;
}

th, td {
    border: 2px solid blue;
}

tr {
    width: 200px;
}

button {
    width: 100px;
    border: 2px solid salmon;
}
