body {
    background-color: rgb(149, 204, 226);
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgb(177, 216, 231);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
    top: 200px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-left: 45px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    margin-left: 45px;
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="date"] {
    padding: 6px;
}

.form-group .radio-group {
    display: flex;
    gap: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
}

.btn-submit {
    margin-left: 35%;
    width: 30%;
    padding: 10px;
    background-color: rgb(149, 204, 226);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit a {
    text-decoration: none;
    color: black;
}
