body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    background: url(imgs/bg-regis2.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    width: 1000px;
    left: 120px;
    top: 45px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: poppins;
    margin-right: 25px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 45px;
    padding-left: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"] {
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: transparent;
    display: inline-block;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

input::placeholder {
    color: white;
}

.cancelbtn {
    background-color: #ff7f76 !important;
    width: auto !important;
}

button {
    color: white;
    padding: 14px 20px;
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #fff;
    background-color: transparent;
    transition: 0.6s ease;
    animation: animate 2s 1;
    font-size: 15px;
    font-weight: 900;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #fff;
    color: black;
}